<div class="chart-card">
    <div class="chart-header">
      <span>{{ chartTitle }}</span>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="changeFilter('lastWeek')">Last Week</button>
        <button mat-menu-item (click)="changeFilter('lastMonth')">Last Month</button>
        <button mat-menu-item (click)="changeFilter('lastQuarter')">Last Quarter</button>
        <button mat-menu-item (click)="changeFilter('last6months')">Last 6 Months</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="sortMenu">Filter</button>
    </div>
  
    <div *ngIf="chartOptions">
      <highcharts-chart 
        [Highcharts]="highcharts"
        [options]="chartOptions"
        style="width: 100%; height: 300px; display: block;">
      </highcharts-chart>
    </div>
  </div>
  